.header {
    height: auto;
    z-index: 10;
    position: absolute;
    width: 100%;
}

.header-logo {
    margin-right: 100px;
}

@media(max-width: 950px) {
    .header-logo {
        margin-right: 0;
    }
}

.header-wr {
    display: flex;
    justify-content: space-between;
    margin: 40px auto !important;
}

.language-bar__white {
    display: flex;
}

.language-bar__black {
    display: flex;
}

.language-bar__dropdown {
    font-size: 25px;
    color: #ffffff;
    position: absolute;
    left: 50%;
    bottom: 25px;
    transform: translateX(-50%);
    display: none;
}

@media(max-width: 1000px) {
    .language-bar__dropdown {
        display: flex;
    }
}

@media(max-width: 650px) {
    .language-bar__white {
        color: #ffffff !important;
        margin-left: 4rem !important;
        font-size: 15px !important;
    }
    .language-bar__black {
        margin-left: 4rem !important;
        font-size: 15px !important;
    }
    .header-wr {
        margin: 20px auto !important;
    }
    
    .header-burger_menu {
        width: 20px;
    }

    .language-bar__white {
        margin-left: 6rem;
        font-size: 17px;
    }

    .header-logo {
        width: 80px;
        margin-left: 46px;
    }
    .book-now__white {
        font-size: 12px !important;
    }
}

.sfl-calendar-container.sfl-calendar-container-2 {
    width: 100px !important;
}

.header-iframe {
    border-style: none;
    border: none;
    width: 100%;
    height: -webkit-fill-available;
    position: absolute;
    z-index: 1000;
    top: 150px;
}

@media(max-width: 1200px) {
    .header-iframe {
        height: 400px;
    }
}

@media(max-width: 950px) {
    .header-iframe {
        width: 105%;
    }
}

.header-black {
    z-index: 10;
    overflow: hidden;
}

.book-now {
    color: #000000;
    text-transform: uppercase;
}

.book-now__white {
    font-size: 15px;
    text-transform: uppercase;
}

.language-first {
    text-transform: uppercase;
}

.book-now__white:hover {
    color: #ffffff !important;
}
